.landingComp {
  min-height: 100vh;
  padding-top: 15rem;
}
.landingHello {
  font-size: 1.1rem;
}
.landingTitle {
  font-size: 4.5rem;
}
.landingPara {
  font-size: 1.2rem;
}
.landingButton {
  margin-top: 3rem;
  color: rgb(28, 172, 112);
  border: 1px solid rgb(28, 172, 112);
  width: 250px;
  height: 70px;
  font-size: 1.2rem;
}
